/.idea/$PROJECT_FILE$
/.idea/shelf/Uncommitted_changes_before_Update_at_2026-04-02,_12_50 AM_[Changes]/confusion_matrix_v1.png
/.idea/shelf/Uncommitted_changes_before_Update_at_2026-04-02,_12_50 AM_[Changes]/confusion_matrix_v2.png
/.idea/shelf/Uncommitted_changes_before_Update_at_2026-04-02,_12_50 AM_[Changes]/decision_tree_plot_v1.png
/.idea/shelf/Uncommitted_changes_before_Update_at_2026-04-02,_12_50 AM_[Changes]/decision_tree_plot_v2.png
/.idea/LoanLens.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/qaplug_profiles.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_2026-04-02,_12_50 AM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_2026-04-02__12_50AM__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
