# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/$PROJECT_FILE$
/LoanLens.iml
/misc.xml
/modules.xml
/qaplug_profiles.xml
/vcs.xml
/workspace.xml
